In [11]:
import pandas as pd
#2 main datatypes
series=pd.Series(["BMW", "TYOTA","Ertiga"])
print( series)
colors = pd.Series(["Red", "Green", "Blue"])
print( colors)

0       BMW
1     TYOTA
2    Ertiga
dtype: object
0      Red
1    Green
2     Blue
dtype: object

In [12]:
#dataframe = 2-dimensional
car_data=pd.DataFrame({"Car make":series,"Car_color":colors})

print(car_data)

  Car make Car_color
0      BMW       Red
1    TYOTA     Green
2   Ertiga      Blue

In [13]:
#Import data

car_sales=pd.read_csv('car-sales.csv')
print(car_sales)

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [18]:
#Export Data Frame

car_sales.to_csv('exported-car-sales.csv',index=False )#remove index=false

In [19]:
#importing car-sales

exported_car_sales=pd.read_csv('exported-car-sales.csv')
print(exported_car_sales)

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

## Describe Data

In [21]:
#Attribute

car_sales.dtypes
#function

#car_sales.describe()

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [26]:
#column
car_column=car_sales.columns
print(car_column)

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')